#cards-container img {
  width: 100px;
}

h1 {
  color: #e53170 !important;
}

body {
  font-family: "Fredoka", sans-serif !important;
}

a {
  text-decoration: none;
}

#cards-container .text-bg-dark {
  background-color: black !important;
}
